* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 17.6px;
}

p {
    width: 70%;
    margin: 0 auto;
    padding: 17.6px 0px;
}

h2 {
    padding: 26.4px 0px;
}

.content-header {
    width: 100%;
    min-height: 450px;
    padding: 100px 26.4px;
    background-image: url(/assets/images/background.jpg);
    background-position: center;
    background-color: rgb(58, 58, 58);
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.content-header a {
    margin: 8.800px;
    padding: 17.600px 35.200px;
    border: 1px solid whitesmoke;
    color: inherit;
}

.section-a {
    width: 100%;
    background-color: rgb(234, 234, 234);
    padding: 26.4px 26.4px 35.2px;
}

.container {
    width: 880px;
    max-width: 100%;
    margin: 0 auto;
}

.section-a p {
    display: inline-block;
    width: 49%;
    vertical-align: top;
}

.section-b {

    padding: 35.2px 17.6px 17.6px;
    background-color: rgb(58, 58, 58);
}
.section-b img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

.section-b ul {
    max-width: 880px;
    margin: 0 auto;
    padding: 0;
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.section-b li {
    background-color: white;
    flex: 1 1 calc(33.333% - 24px);
    box-sizing: border-box;
    padding: 15px 0;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.section-b h3 {
    padding: 20px 0;
    margin: 0; 
}

.section-c {
    width: 100%;
    background-color: white;
    padding: 35.2px;
}
    
.section-d {
    width: 100%;    
    display: flex;
    flex-wrap: wrap;

}
    
.content-box {
    flex: 1 1 50%;
    padding: 35.2px;
    background-color: cornflowerblue;
    color: white;
    box-sizing: border-box;
}
    
.content-box:last-child {
    background-color: rgb(58, 58, 58);
}

footer {
    width: 100%;
    background-color: black;
    color: white;
    padding: 35.2px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

footer p {
    margin: 0;
    flex: 1 1 45%;
}

a {
    color: cornflowerblue;
    text-decoration: none;
}